<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>


        <#list result as map>

            <tr>
                <h4>${map["task"]}</h4>
                <ul>
                    <#list map["data"] as item >
                        <li>
                            ${item.date} --- ${item.result}
                        </li>
                    </#list>

                </ul>
            </tr>

        </#list>


    </table>

</body>
</html>